.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.main > * {
  max-width: 30%
}
